<?php $txt="Assignment Management" ; $subP="assignment-list"; include('../header-1.php')  ?>
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-1 mb-0">
              <div class="row">
                 <div class="col-lg-5  ">
                  <h3 >Assignment Details    </h3>
                 </div>
                 <div class="col-lg-7 ">
                     <a   class="btn btn-default   float-right btn-sm  " href="assignment-list.php" ><i class="fa fa-arrow-left"></i> Back</a>
                 </div>
               </div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12 p-0 pt-2 ">
              
                <div class="card form paper_det">
                    <div class="card-content ">
                      <div class="card-body"  >
                         <div class="row ">
                           <div class="col-lg-12 mt-1  ">
                             <h4 class="title-1">Assignment Details <a href="edit-assignment-details.php"><i class="fa fa-edit   float-right"></i></a></h4>
                           </div>

                               <div class="col-lg-3 mt-1  form-group">
                                      <label>Assignment Title  </label>
                                       <p class="value">Assignment A</p>
                                   </div>
                                  
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Class</label>
                                       <p class="value">10</p>
                                   </div>
                                    <div class="col-lg-3 mt-1   form-group">
                                      <label>Section</label>
                                       <p class="value">A</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Subject</label>
                                       <p class="value">Maths</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Total Marks</label>
                                       <p class="value">25</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Passing Marks</label>
                                      <p class="value">10</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Stars At</label>
                                      <p class="value">10/04/2022 10:00 AM</p>
                                   </div>
                                    <div class="col-lg-3 mt-1   form-group">
                                      <label>Ends At</label>
                                      <p class="value">15/04/2022 10:00 AM</p>
                                   </div>
                                  
                                  
                                    <div class="col-lg-12 mt-1   form-group">
                                      <label>Guidelines</label>
                                       <p class="value"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                       consequat.</p>
                                   </div>

                                   

                                         <div class="col-lg-12 mt-1  ">
                                         <h4 class="title-1">Questions   Details <a href="edit-question-detail.php"><i class="fa fa-edit   float-right"></i></a></h4>
                                       </div>
                                         
                                         <div class="col-lg-12 mt-0   pl-0  form-group  added-ques d-block">
                                               <div class="ques">
                                                  <h5><span>Q.1</span> The average of first 50 natural numbers is …………. .  </h5>
                                                </div>
                                                <div class="ques">
                                                  <h5><span>Q.2</span> The number of 3-digit numbers divisible by 6, is.. </h5>

                                                </div>
                                                <div class="ques">
                                                  <h5><span>Q.3</span> What is 1004 divided by 2?  </h5>
                                                 
                                                </div>
                                                  <div class="ques">
                                                  <h5><span>Q.4</span> 106 × 106 – 94 × 94 = ?  </h5>
                                                 
                                                </div>
                                                  <div class="ques">
                                                  <h5><span>Q.5</span>The simplest form of 1.5 : 2.5 is... </h5>
                                               
                                              </div>
                                          </div>
 
 
                                          

                                  </div>

                         </div>
                       </div>
                     </div>
             </div>
                 
            </div>
            
          
      </div>
     </div>
   </div>

   
<?php include('../footer-1.php')  ?>