{% include 'admin_template/header.html' %}    
{% load static %}    <!-- BEGIN: Content-->

    <div class="app-content content position-relative  ">
        <div class="content-wrapper">
            {% if request.session.userType == 'super_admin_login' %}
                <h1 style='margin-bottom:-65px;margin-top:10px;'>Super Admin Dashboard</h1>
            {% elif request.session.userType == 'director_login' %}
                <h1 style='margin-bottom:-65px;margin-top:10px;'>Director Dashboard</h1>
            {% elif request.session.userType == 'principal_login' %}
                <h1 style='margin-bottom:-65px;margin-top:10px;'>Principal Dashboard</h1>
            {% elif request.session.userType == 'school_admin_login' %}
                <h1 style='margin-bottom:-65px;margin-top:10px;'>School Admin Dashboard</h1>
            {% endif %}
        
        <div class="content-body mt-5 pt-5"><!-- Revenue, Hit Rate & Deals -->
          <div class="row">
              {% if request.session.userType == 'super_admin_login' %}
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="card info">
                      <div class="card-content">
                          <div class="card-body">
                              <a href='{% url 'branch_list' %}'>
                                  <div class="media d-flex">
                                      <div class="media-body text-left align-self-bottom mt-1">
                                          <h1 class="  mb-0">{{branchCount}}</h1>
                                          <span  class="d-block mb-1 text-dark font-medium-1 mt-1">Total Branches</span>
                                          
                                        </div>
                                        <img src="{% static 'static/app-assets/images/dashboard/icons/brances.png' %}">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="card info">
                    <div class="card-content">
                        <div class="card-body">
                            <a href="{% url 'director_list' %}">
                                <div class="media d-flex">
                                    <div class="media-body text-left align-self-bottom mt-1">
                                        <h1 class="  mb-0">{{directorCount}}</h1>
                                        <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Directors</span>
                                    </div>
                                    <img src="{% static 'static/app-assets/images/dashboard/icons/director.png' %}">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="card info">
                      <div class="card-content">
                          <div class="card-body">
                              <a href="{% url 'principal_list' %}">
                                  <div class="media d-flex">
                                      <div class="media-body text-left align-self-bottom mt-1">
                                          <h1 class="mb-0">{{principalCount}}</h1>
                                          <span   class="d-block mb-1 text-dark font-medium-1 mt-1">Principles</span>
                                        </div>
                                        <img src="{% static 'static/app-assets/images/dashboard/icons/principal.png' %}">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card info">
                        <div class="card-content">
                            <div class="card-body">
                                <a href="{% url 'schoolAdmin_list' %}">
                                <div class="media d-flex">
                                    <div class="media-body text-left align-self-bottom mt-1">
                                        <h1 class="  mb-0">{{schoolAdminCount}}</h1>
                                        <span  class="d-block mb-1 font-medium-1 mt-1 text-dark">School Admins</span>
                                    </div>
                                    <img src="{% static 'static/app-assets/images/dashboard/icons/admin.png' %}">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card info">
                  <div class="card-content">
                      <div class="card-body">
                          <a href="{% url 'Teacher_list' %}">
                          <div class="media d-flex">
                              <div class="media-body text-left align-self-bottom mt-1">
                                  <h1 class="  mb-0">{{teacherCount}}</h1>
                                  <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Class Teachers</span>
                                
                              </div>
                               <img src="{% static 'static/app-assets/images/dashboard/icons/classteacher.png' %}">
                          </div>
                      </a>
                      </div>
                  </div>
              </div>
            </div>    {% endcomment %}
            <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="card info">
                    <div class="card-content">
                        <div class="card-body">
                            <a href="{% url 'Teacher_list' %}">
                            <div class="media d-flex">
                                <div class="media-body text-left align-self-bottom mt-1">
                                    <h1 class="  mb-0">{{teacherCount}}</h1>
                                    <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Teachers</span>
                                  
                                </div>
                                 <img src="{% static 'static/app-assets/images/dashboard/icons/teachers.png' %}">
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
              </div>
               
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="card info">
                    <div class="card-content">
                        <div class="card-body">
                        <a href="{% url 'student_list' %}">
                            <div class="media d-flex">
                                <div class="media-body text-left align-self-bottom mt-1">
                                    <h1 class="  mb-0">{{studentCount}}</h1>
                                    <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Students</span>
                                </div>
                                 <img src="{% static 'static/app-assets/images/dashboard/icons/student.png' %}">
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="card info">
                    <div class="card-content">
                        <div class="card-body">
                            <a href="{% url 'class_list' %}">
                            <div class="media d-flex">
                                <div class="media-body text-left align-self-bottom mt-1">
                                    <h1 class="  mb-0">{{classCount}}</h1>
                                    <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Classes</span>
                                  
                                </div>
                                 <img src="{% static 'static/app-assets/images/dashboard/icons/class.png' %}">
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
              </div>
             
          </div>

          {% else %}
          {% if sub_auth_dict.Teacher == True %}
            {% comment %} <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card info">
                    <div class="card-content">
                        <div class="card-body">
                            <a href="{% url 'Teacher_list' %}">
                                <div class="media d-flex">
                                    <div class="media-body text-left align-self-bottom mt-1">
                                        <h1 class="  mb-0">{{teacherCount}}</h1>
                                        <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Class Teachers</span>
                                        
                                        </div>
                                        <img src="{% static 'static/app-assets/images/dashboard/icons/classteacher.png' %}">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>    {% endcomment %}
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="card info">
                        <div class="card-content">
                            <div class="card-body">
                                <a href="{% url 'Teacher_list' %}">
                                <div class="media d-flex">
                                    <div class="media-body text-left align-self-bottom mt-1">
                                        <h1 class="  mb-0">{{teacherCount}}</h1>
                                        <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Teachers</span>
                                        
                                    </div>
                                    <img src="{% static 'static/app-assets/images/dashboard/icons/teachers.png' %}">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if sub_auth_dict.Student == True %}
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card info">
                    <div class="card-content">
                        <div class="card-body">
                            <a href="{% url 'student_list' %}">
                                <div class="media d-flex">
                                    <div class="media-body text-left align-self-bottom mt-1">
                                        <h1 class="  mb-0">{{studentCount}}</h1>
                                        <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Students</span>
                                    </div>
                                    <img src="{% static 'static/app-assets/images/dashboard/icons/student.png' %}">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card info">
                <div class="card-content">
                    <div class="card-body">
                        <a href="{% url 'class_list' %}">
                        <div class="media d-flex">
                            <div class="media-body text-left align-self-bottom mt-1">
                                <h1 class="  mb-0">{{classCount}}</h1>
                                <span   class="d-block mb-1 font-medium-1 mt-1 text-dark">Classes</span>
                              
                            </div>
                             <img src="{% static 'static/app-assets/images/dashboard/icons/class.png' %}">
                        </div>
                    </a>
                    </div>
                </div>
            </div>
          </div>
      </div>
        {% endif %}

         
          <!-- Chat and Recent Projects -->
          {% comment %} <div class="row match-height"> {% endcomment %}
            
              {% comment %} <div class="col-xl-8 col-lg-6 col-md-12">
                  <h5 class="card-title text-bold-700 my-2">List of Ongoing Exams</h5>
                  <div class="card">            
                      <div class="card-content">
                          <div id="recent-projects" class="media-list position-relative">
                              <div class="table-responsive">
                                  <table class="table table-padded table-xl mb-0 tbl-btn"  >
                                      <thead>
                                          <tr>
                                              <th class="border-top-0">Exam Id </th>
                                              <th class="border-top-0">Exam Name</th>
                                              <th class="border-top-0">Month Range</th>
                                              <th class="border-top-0">Actions</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td class="text-truncate align-middle">
                                                  <a href="#">E10022</a>
                                              </td>
                                              <td class="text-truncate">
                                                   Class 2nd Mid Terms 2020
                                              </td>
                                              <td class="text-truncate pb-0">
                                                  <span>Feb-Mar, 20201</span>
                                                   
                                              </td>
                                              <td>
                                                 <a href=""  ><img src="{% static 'static/app-assets/images/dashboard/edit.png' %}"></a>
                                                 <a href=""><img src="{% static 'static/app-assets/images/dashboard/preview.png' %}"></a>
                                              </td>
                                          </tr>                                
                                          <tr>
                                              <td class="text-truncate align-middle">
                                                  <a href="#">E10022</a>
                                              </td>
                                              <td class="text-truncate">
                                                   Class 2nd Mid Terms 2020
                                              </td>
                                              <td class="text-truncate pb-0">
                                                  <span>Feb-Mar, 20201</span>
                                                   
                                              </td>
                                              <td>
                                                 <a href=""  ><img src="{% static 'static/app-assets/images/dashboard/edit.png' %}"></a>
                                                 <a href=""><img src="{% static 'static/app-assets/images/dashboard/preview.png' %}"></a>
                                              </td>
                                          </tr>    
                                           <tr>
                                              <td class="text-truncate align-middle">
                                                  <a href="#">E10022</a>
                                              </td>
                                              <td class="text-truncate">
                                                   Class 2nd Mid Terms 2020
                                              </td>
                                              <td class="text-truncate pb-0">
                                                  <span>Feb-Mar, 20201</span>
                                                   
                                              </td>
                                              <td>
                                                 <a href=""  ><img src="{% static 'static/app-assets/images/dashboard/edit.png' %}"></a>
                                                 <a href=""><img src="{% static 'static/app-assets/images/dashboard/preview.png' %}"></a>
                                              </td>
                                          </tr>    
                                           <tr>
                                              <td class="text-truncate align-middle">
                                                  <a href="#">E10022</a>
                                              </td>
                                              <td class="text-truncate">
                                                   Class 2nd Mid Terms 2020
                                              </td>
                                              <td class="text-truncate pb-0">
                                                  <span>Feb-Mar, 20201</span>
                                                   
                                              </td>
                                              <td>
                                                 <a href=""  ><img src="{% static 'static/app-assets/images/dashboard/edit.png' %}"></a>
                                                 <a href=""><img src="{% static 'static/app-assets/images/dashboard/preview.png' %}"></a>
                                              </td>
                                          </tr>    
                                           <tr>
                                              <td class="text-truncate align-middle">
                                                  <a href="#">E10022</a>
                                              </td>
                                              <td class="text-truncate">
                                                   Class 2nd Mid Terms 2020
                                              </td>
                                              <td class="text-truncate pb-0">
                                                  <span>Feb-Mar, 20201</span>
                                                   
                                              </td>
                                              <td>
                                                 <a href=""  ><img src="{% static 'static/app-assets/images/dashboard/edit.png' %}"></a>
                                                 <a href=""><img src="{% static 'static/app-assets/images/dashboard/preview.png' %}"></a>
                                              </td>
                                          </tr>    
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
                    <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Student Performed Exams</h4>
                          <div class="heading-elements">
                               <select class=" form-control card_Sel"><option>Current Year</option><option>Previous Year</option> </select>
                          </div>
                      </div>
                      <div class="card-content  ">
                           <div class="card-body chartjs pt-0">
                              <div class="height-300">
                                 <canvas id="line-chart"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> {% endcomment %}

                {% comment %} <div class="col-xl-4 col-lg-6 col-md-12 pt-1">
                  <div class="card mt-4">
                      <div class="card-header bg-transparent  ">
                          <h5 class="card-title text-bold-700">Notifications  <a class="small-btn float-right">See all</a></h5>
                         
                      </div>
                      <div class="card-content">
                         <div class="noti">
                             <div class="notif">
                              <p><span class="blue">15 mins</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                             </div>
                               <div class="notif">
                              <p><span class="blue">15 mins</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                             </div>
                              <div class="notif">
                              <p><span class="blue">15 mins</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                             </div>
                              <div class="notif">
                              <p><span class="blue">15 mins</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                             </div>
                              <div class="notif">
                              <p><span class="blue">15 mins</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                             </div>

                              <div class="notif">
                              <p><span class="blue">15 mins</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                             </div>
                              <div class="notif">
                              <p><span class="blue">15 mins</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                             </div>
                              <div class="notif">
                              <p><span class="blue">15 mins</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                             </div>
                             <div class="text-center mt-2 mb-2"><a class="btn btn-info white">15 Pending Notifications</a></div>
                         </div>
                      </div>
                  </div>
              </div> {% endcomment %}
          </div>
          <!--/ Products sell and New Orders -->
         
        </div>
      </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Customizer-->
    <div class="customizer border-left-blue-grey border-left-lighten-4 d-none d-xl-block"><a class="customizer-close" href="#"><i class="ft-x font-medium-3"></i></a><!-- <a class="customizer-toggle bg-primary box-shadow-3" href="#" id="customizer-toggle-setting"><i class="ft-settings font-medium-3 spinner white"></i></a> --><div class="customizer-content p-2">
  	<h5 class="mt-1 mb-1 text-bold-500">Navbar Color Options</h5>
  	<div class="navbar-color-options clearfix">
  		<div class="gradient-colors mb-1 clearfix">
  			<div class="bg-gradient-x-purple-blue navbar-color-option" data-bg="bg-gradient-x-purple-blue" title="bg-gradient-x-purple-blue"></div>
  			<div class="bg-gradient-x-purple-red navbar-color-option" data-bg="bg-gradient-x-purple-red" title="bg-gradient-x-purple-red"></div>
  			<div class="bg-gradient-x-blue-green navbar-color-option" data-bg="bg-gradient-x-blue-green" title="bg-gradient-x-blue-green"></div>
  			<div class="bg-gradient-x-orange-yellow navbar-color-option" data-bg="bg-gradient-x-orange-yellow" title="bg-gradient-x-orange-yellow"></div>
  			<div class="bg-gradient-x-blue-cyan navbar-color-option" data-bg="bg-gradient-x-blue-cyan" title="bg-gradient-x-blue-cyan"></div>
  			<div class="bg-gradient-x-red-pink navbar-color-option" data-bg="bg-gradient-x-red-pink" title="bg-gradient-x-red-pink"></div>
  		</div>
  		<div class="solid-colors clearfix">
  			<div class="bg-primary navbar-color-option" data-bg="bg-primary" title="primary"></div>
  			<div class="bg-success navbar-color-option" data-bg="bg-success" title="success"></div>
  			<div class="bg-info navbar-color-option" data-bg="bg-info" title="info"></div>
  			<div class="bg-warning navbar-color-option" data-bg="bg-warning" title="warning"></div>
  			<div class="bg-danger navbar-color-option" data-bg="bg-danger" title="danger"></div>
  			<div class="bg-blue navbar-color-option" data-bg="bg-blue" title="blue"></div>
  		</div>
  	</div>

  	<hr>

	<h5 class="my-1 text-bold-500">Layout Options</h5>
	<div class="row">
		<div class="col-12">
			<div class="d-inline-block custom-control custom-radio mb-1 col-4">
				<input type="radio" class="custom-control-input bg-primary" name="layouts" id="default-layout" checked>
				<label class="custom-control-label" for="default-layout">Default</label>
			</div>
			<div class="d-inline-block custom-control custom-radio mb-1 col-4">
				<input type="radio" class="custom-control-input bg-primary" name="layouts" id="fixed-layout">
				<label class="custom-control-label" for="fixed-layout">Fixed</label>
			</div>
			<div class="d-inline-block custom-control custom-radio mb-1 col-4">
				<input type="radio" class="custom-control-input bg-primary" name="layouts" id="static-layout">
				<label class="custom-control-label" for="static-layout">Static</label>
			</div>
			<div class="d-inline-block custom-control custom-radio mb-1">
				<input type="radio" class="custom-control-input bg-primary" name="layouts" id="boxed-layout">
				<label class="custom-control-label" for="boxed-layout">Boxed</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="d-inline-block custom-control custom-checkbox mb-1">
				<input type="checkbox" class="custom-control-input bg-primary" name="right-side-icons" id="right-side-icons">
				<label class="custom-control-label" for="right-side-icons">Right Side Icons</label>
			</div>
		</div>
	</div>

	<hr>

	<h5 class="mt-1 mb-1 text-bold-500">Sidebar menu Background</h5>
	<!-- <div class="sidebar-color-options clearfix">
		<div class="bg-black sidebar-color-option" data-sidebar="menu-dark" title="black"></div>
		<div class="bg-white sidebar-color-option" data-sidebar="menu-light" title="white"></div>
	</div> -->
	<div class="row sidebar-color-options ml-0">
		<label for="sidebar-color-option" class="card-title font-medium-2 mr-2">White Mode</label>
		<div class="text-center mb-1">
			<input type="checkbox" id="sidebar-color-option" class="switchery" data-size="xs"/>
		</div>
		<label for="sidebar-color-option" class="card-title font-medium-2 ml-2">Dark Mode</label>
	</div>

	<hr>

	<label for="collapsed-sidebar" class="font-medium-2">Menu Collapse</label>
	<div class="float-right">
		<input type="checkbox" id="collapsed-sidebar" class="switchery" data-size="xs"/>
	</div>
	
	<hr>

	<!--Sidebar Background Image Starts-->
	<h5 class="mt-1 mb-1 text-bold-500">Sidebar Background Image</h5>
	<div class="cz-bg-image row">
		<div class="col mb-3">
			<img src="{% static 'static/app-assets/images/backgrounds/04.jpg' %}" class="rounded sidiebar-bg-img" width="50" height="100" alt="background image">
		</div>
		<div class="col mb-3">
			<img src="{% static 'static/app-assets/images/backgrounds/01.jpg' %}" class="rounded sidiebar-bg-img" width="50" height="100" alt="background image">
		</div>
		<div class="col mb-3">
			<img src="{% static 'static/app-assets/images/backgrounds/02.jpg' %}" class="rounded sidiebar-bg-img" width="50" height="100" alt="background image">
		</div>
		<div class="col mb-3">
			<img src="{% static 'static/app-assets/images/backgrounds/05.jpg' %}" class="rounded sidiebar-bg-img" width="50" height="100" alt="background image">
		</div>
	</div>
	<!--Sidebar Background Image Ends-->

	<!--Sidebar BG Image Toggle Starts-->
	<div class="sidebar-image-visibility">
		<div class="row ml-0">
			<label for="toggle-sidebar-bg-img" class="card-title font-medium-2 mr-2">Hide Image</label>
			<div class="text-center mb-1">
				<input type="checkbox" id="toggle-sidebar-bg-img" class="switchery" data-size="xs" checked/>
			</div>
			<label for="toggle-sidebar-bg-img" class="card-title font-medium-2 ml-2">Show Image</label>
		</div>
	</div>
	<!--Sidebar BG Image Toggle Ends-->

	<hr>

	<div class="row mb-2">
		 
		<div class="col">
			<a href="https://themeselection.com/" class="btn btn-primary btn-block box-shadow-1" target="_blank">More Themes</a>
		</div>
	</div>
	<div class="text-center">
		<button id="twitter" class="btn btn-social-icon btn-twitter sharrre mr-1"><i class="la la-twitter"></i></button>
		<button id="facebook" class="btn btn-social-icon btn-facebook sharrre mr-1"><i class="la la-facebook"></i></button>
		<button id="google" class="btn btn-social-icon btn-google sharrre"><i class="la la-google"></i></button>
	</div>
</div>
</div>
    <!-- End: Customizer-->

{% include 'admin_template/footer.html' %}
