{% include 'admin_template/header-1.html' %}
{% load static %}
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-1 mb-0">
            <div class="row">
                 <div class="col-md-3   "><h3 >Class Teacher Details</h3></div>
                    <div class="col-md-9 text-right pr-2  ">
                        <a class="btn btn-secondary btn-min-width btn-sm "  href="{% url 'edit_classTeacher' %}"><i class="fa fa-edit"></i> Edit Detail </a>
                        <a class="btn btn-default   float-right btn-sm  ml-1" href="{% url 'classTeacher_list' %}" ><i class="fa fa-arrow-left"></i> Back to list</a>
                    </div>
               </div>
           </div>
             
             <div class="detail_block mt-2">
                 <div class="card form">
                  <div class="card-content ">
                      <div class="card-body"  >

                          <div class="row  ">
                             <div class="col-lg-12  pt-1 "><h4 class="title-1">Branch Details</h4></div>
                           <div class="col-lg-2 pt-1 ">
                              <label>Branch Code</label>
                              <p class="value">101</p>
                             </div>
                              <div class="col-lg-4  pt-1 ">
                               <label>Branch Name</label>
                                 <p class="value">CMS, Gomti Nagar</p>
                             </div>
                             <div class="col-lg-2  pt-1 ">
                               <label>Class </label>
                                <p class="value">Class 10</p>
                             </div>
                             <div class="col-lg-2  pt-1 ">
                               <label>Section </label>
                                <p class="value">Section A  </p>
                             </div>
                             <div class="col-lg-2  pt-1 ">
                               <label>Subject </label>
                                <p class="value">Hndi  </p>
                             </div>
                               

                            <div class="col-lg-12  pt-3 "><h4 class="title-1">Contact Details</h4></div>
                           <div class="col-lg-4 pt-1 ">
                              <label>Email ID</label>
                              <p class="value">cms_gomtinagar@gmail.com</p>
                             </div>
                              <div class="col-lg-4 pt-1 ">
                               <label>Contact No.</label>
                                 <p class="value">8574586655</p>
                             </div>
                               
                           <div class="col-lg-4 pt-1 ">
                               <label>Address</label>
                              <p class="value">523 a/ 1555, Gomti Nagar </p>
                           </div>
                            <div class="col-lg-4  pt-1 ">
                             <label>City</label>
                                 <p class="value">Lucknow</p>
                             </div>
                              <div class="col-lg-4  pt-1 ">
                               <label>State </label>
                              <p class="value">UP</p>
                           </div>
                           <div class="col-lg-4  pt-1 ">
                               <label>Pin code  </label>
                              <p class="value">226010</p>
                           </div>

                            <div class="col-lg-12  pt-3 "><h4 class="title-1">Branch/Class Details</h4></div>
                            <div class="col-lg-3 pt-1 ">
                              <label>Branch</label>
                              <p class="value">CMS, Gomti Nagar</p>
                             </div>
                             <div class="col-lg-3 pt-1 ">
                               <label>Class</label>
                                 <p class="value">Class 10</p>
                             </div>
                              <div class="col-lg-3 pt-1 ">
                               <label>Section</label>
                                 <p class="value">Section A</p>
                             </div>
                              <div class="col-lg-3 pt-1 ">
                               <label>Subject</label>
                                 <p class="value">Hindi</p>
                             </div>

                            <div class="col-lg-12  pt-3 "><h4 class="title-1">Login Credentials </h4></div>
                            <div class="col-lg-4 pt-1 ">
                              <label>Username</label>
                              <p class="value">cms_gomtinagar@gmail.com</p>
                             </div>
                             <div class="col-lg-4 pt-1 ">
                               <label>Password</label>
                                 <p class="value">123456</p>
                             </div>

                         
                               
                         </div>
                       </div>
                     </div>
                   </div>


             </div>
      </div>
     </div>
   </div>
 
   {% include 'admin_template/footer-1.html' %}