<?php $txt="Assessment Management" ; $subP="assessment";  include('../header-1.php')  ?>
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-1 mb-0">
              <div class="row">
                 <div class="col-lg-5  ">
                  <h3 >Assessment  </h3>
                 </div>
                 <div class="col-lg-7 ">
                    <a class="btn btn-default   float-right btn-sm  " href="assessment-detail.php" ><i class="fa fa-arrow-left"></i> Back</a>
                 </div>
               </div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12 p-0 pt-2 ">
              
                <div class="card form paper_det pb-1">
                    <div class="card-content ">
                      <div class="card-body p-0 pt-1"  >
                         <div   class="accordion">
                            <div class="card mb-0">
                               <div class="card-header"  href="#collapseOne">
                                  <a class="card-title">
                                      Section A <span class="float-right">Max. Marks: 25</span>

                                  </a>
                              </div>
                              <div id="collapseOne" class="card-body  "  >
                                   <div class="questionss">
                                       <div class="row ">
                                         <div class="col-lg-12 mt-1  ">
                                           <h4 class="title-1"><strong>Q.1</strong> Our teacher teaches mathematics ………… English. <span class="float-right">Marks: 2</span>   </h4>
                                          </div>
                                           <div class="col-lg-6 mt-1  form-group ques-radios  ">
                                                <strong>A.</strong>  
                                                    <label ><input type="radio" disabled="" checked="" name="input-radio-3" > <span>besides</span></label>
                                                  
                                             </div>
                                             <div class="col-lg-6 mt-1  form-group ques-radios ">
                                                <strong>B.</strong>  
                                                    <label  ><input type="radio" disabled="" name="input-radio-3" > <span>beside</span></label>
                                                  
                                             </div>
                                             <div class="col-lg-6 mt-1  form-group ques-radios ">
                                                <strong>C.</strong>   
                                                    <label  ><input type="radio" disabled="" name="input-radio-3"  > <span>across</span></label>
                                                  
                                             </div>
                                             <div class="col-lg-6 mt-1  form-group ques-radios ">
                                                <strong>D.</strong>  
                                                    <label ><input type="radio" disabled="" name="input-radio-3"  > <span>both</span></label>
                                                  
                                             </div>

                                             <div class="col-lg-12 mt-1   ques-radios ">
                                                <h4>Result:</h4>
                                                <p  ><span class="text-success ">Correct Option : <strong>Option A</strong> </span><span class="text-success ml-5">Selected Option : <strong>Option A </strong></span>
                                                  <span class="float-right text-dark"> Marks Obtained: <strong>2</strong></span>
                                                </p>
                                             </div>
                  
                                           </div>

                                       </div>
                                    
                                      <div class="questionss">
                                       <div class="row ">
                                         <div class="col-lg-12 mt-1  ">
                                           <h4 class="title-1"><strong>Q.2</strong> Write an essay on Indian Culture. <span class="float-right">Marks: 5</span>   </h4>

                                           <div class="col-lg-12 mt-1   ">
                                             <h4 class="mb-2">Result:</h4>
                                              <div class="row">
                                                <div class="col-md-6 ">
                                                 
                                                  <a href="javascript:;" data-toggle="modal" data-target="#answer" class="btn btn-secondary btn-sm">View Answer</a>
                                                </div>
                                                  <div class="col-md-4 ml-auto text-right text-dark"> 
                                                     Marks Obtained: <input type="text" name="" class="form-control control " placeholder="Enter marks">
                                                  </div>
                                              </div>
                                                
                                                 
                                             </div>
                  
                                          </div>

                                        </div>
                                      </div>

                                      <div class="questionss">
                                       <div class="row ">
                                         <div class="col-lg-12 mt-1  ">
                                           <h4 class="title-1"><strong>Q.3</strong> How did Martha tell her story ? <span class="float-right">Marks: 3</span>   </h4>

                                           <div class="col-lg-12 mt-1   ">
                                             <h4 class="mb-2">Result:</h4>
                                              <div class="row">
                                                <div class="col-md-6 ">
                                                  <a href="javascript:;" data-toggle="modal" data-target="#answer1" class="btn btn-secondary btn-sm ">View Answer</a>
                                                </div>
                                                  <div class="col-md-4 ml-auto text-right text-dark"> 
                                                     Marks Obtained: <input type="text" name="" class="form-control control " placeholder="Enter marks">
                                                  </div>
                                              </div>
                                                
                                                 
                                             </div>
                  
                                          </div>

                                        </div>
                                      </div>
                              </div>

                                <div class="card-header  "  href="#collapseTwo">
                                      <a class="card-title">
                                       Section B<span class="float-right">Max. Marks: 25</span>

                                      </a>
                                  </div>
                                  <div id="collapseTwo" class="card-body  "   >
                                       <div class="questionss">
                                       <div class="row ">
                                         <div class="col-lg-12 mt-1  ">
                                           <h4 class="title-1"><strong>Q.4</strong> Write an essay on Indian Culture. <span class="float-right">Marks: 5</span>   </h4>

                                           <div class="col-lg-12 mt-1   ">
                                             <h4 class="mb-2">Result:</h4>
                                              <div class="row">
                                                <div class="col-md-6 ">
                                                 
                                                  <a href="javascript:;" data-toggle="modal" data-target="#answer" class="btn btn-secondary btn-sm">View Answer</a>
                                                </div>
                                                  <div class="col-md-4 ml-auto text-right text-dark"> 
                                                     Marks Obtained: <input type="text" name="" class="form-control control " placeholder="Enter marks">
                                                  </div>
                                              </div>
                                                
                                                 
                                             </div>
                  
                                          </div>

                                        </div>
                                      </div>
                                  </div>

                                   <div class="card-header  "  href="#collapseThree">
                                      <a class="card-title">
                                       Section C<span class="float-right">Max. Marks: 50</span>
                                      </a>
                                  </div>
                                  <div id="collapseThree" class="card-body"   >
                                       <div class="questionss">
                                       <div class="row ">
                                         <div class="col-lg-12 mt-1  ">
                                           <h4 class="title-1"><strong>Q.5</strong> Write an essay on Indian Culture. <span class="float-right">Marks: 5</span>   </h4>

                                           <div class="col-lg-12 mt-1   ">
                                             <h4 class="mb-2">Result:</h4>
                                              <div class="row">
                                                <div class="col-md-6 ">
                                                 
                                                  <a href="javascript:;" data-toggle="modal" data-target="#answer" class="btn btn-secondary btn-sm">View Answer</a>
                                                </div>
                                                  <div class="col-md-4 ml-auto text-right text-dark"> 
                                                     Marks Obtained: <input type="text" name="" class="form-control control " placeholder="Enter marks">
                                                  </div>
                                              </div>
                                                
                                                 
                                             </div>
                  
                                          </div>

                                        </div>
                                      </div>
                                  </div>
                            </div>
                          </div>

                       

                    </div>
                </div>
                  </div>
              
             </div>

              <div class="text-right   bottom-btn">
                   <a  class="btn btn-primary pl-5 pr-5" data-toggle="modal" data-target="#alert" href="javascript:;">Submit Result</a>
               </div>
                 
             
      </div>
     </div>
   </div>

   <!-- modal for pdf -->
   <div class="modal fade question_modal ans_modal" id="answer"   role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-block">
           <a href="#" style="margin-top: -10px" data-dismiss="modal" class="btn btn-secondary btn-sm float-right">
                   x
               </a>
            <h4 class="title-1 text-dark d-block"><strong>Q.2</strong> Write an essay on Indian Culture.     </h4>
        </div>
        <div class="modal-body ">
            <embed src="../app-assets/sample.pdf" class="pdff"  >
        </div>
        
      </div>
    </div>
  </div>

    <!-- modal for image -->
   <div class="modal fade question_modal ans_modal" id="answer1"   role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-block">
           <a href="#" style="margin-top: -10px" data-dismiss="modal" class="btn btn-secondary btn-sm float-right">
                   x
               </a>
            <h4 class="title-1 text-dark d-block"><strong>Q.2</strong> Write an essay on Indian Culture.     </h4>
        </div>
        <div class="modal-body image">
             <img src="../app-assets/images/extract-scan.png">
        </div>
        
      </div>
    </div>
  </div>


   <!-- Modal -->
  <div class="modal fade small" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <p>Are you sure want to submit result.  </p>
           
            <a href="" class="btn btn-dark btn-sm mr-1" data-dismiss="modal">No</a>
           <a href="" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#success">Yes</a>
           
        </div>
         
      </div>
    </div>
  </div>

   <div class="modal fade small with-img" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
           <img src="../app-assets/images/success-icon-10.png">
           <p> Result has been submitted successsfully.  </p>
           
            
           <a href="exam-assessment.php" class="btn btn-primary btn-sm"   >OK</a>
           
        </div>
         
      </div>
    </div>
  </div>



   
<?php include('../footer-1.php')  ?>