{% include 'admin_template/header-1.html' %}
{% load static %}
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-1 mb-0">
            <div class="row">
                 <div class="col-md-3   "><h3 >Question Details</h3></div>
                    <div class="col-md-9 text-right pr-2  ">
                        <a class="btn btn-secondary btn-min-width btn-sm "  href="edit-question-detail.php"><i class="fa fa-edit"></i> Edit Detail </a>
                        <a class="btn btn-default   float-right btn-sm  ml-1" href="question-list.php" ><i class="fa fa-arrow-left"></i> Back to list</a>
                    </div>
               </div>
           </div>

             
             <div class="detail_block mt-2">
                 <div class="card form">
                  <div class="card-content ">
                      <div class="card-body"  >
                          <div class="row  ">
                             <div class="col-lg-12  pt-1 "><h4 class="title-1">Question Details</h4></div>
                           <div class="col-lg-2 pt-1 ">
                              <label>Class </label>
                              <p class="value">10th</p>
                             </div>
                             <div class="col-lg-2  pt-1 ">
                                 <label>Section</label>
                                 <p class="value">A</p>
                             </div>
                             <div class="col-lg-2  pt-1 ">
                                 <label>Subject</label>
                                 <p class="value">Maths</p>
                             </div>
                              <div class="col-lg-2  pt-1 ">
                                 <label>Year</label>
                                 <p class="value">2021</p>
                             </div>
                             <div class="col-lg-2  pt-1 ">
                                 <label>Question Type</label>
                                 <p class="value">Objective</p>
                             </div>
                             <div class="col-lg-2  pt-1 ">
                                 <label>Question Sub Type</label>
                                 <p class="value">Select an option</p>
                             </div>
                               
                           <div class="col-lg-12 pt-1 ">
                              <label>Question  </label>
                              <p class="value">What is the result of 50x50?</p>
                             </div>
                              <div class="col-lg-12 pt-1 ">
                               <label>Options</label> </div>
                              <div class="col-lg-3 pt-1 right-ans ">
                               <label>Options 1</label>
                                 <p class="value">2500</p>
                             </div>
                              <div class="col-lg-3 pt-1 ">
                               <label>Options 2</label>
                                 <p class="value">1500</p>
                             </div>
                              <div class="col-lg-3 pt-1 ">
                               <label>Options 3</label>
                                 <p class="value">1000</p>
                             </div>
                              <div class="col-lg-3 pt-1 ">
                               <label>Options 4</label>
                                 <p class="value">2000</p>
                             </div>
                               
                           <div class="col-lg-3 pt-1 ">
                               <label>Difficulty</label>
                              <p class="value">Easy </p>
                           </div>
                            <div class="col-lg-3  pt-1 ">
                                 <label>Marks</label>
                                 <p class="value">2</p>
                             </div>
                              <div class="col-lg-3  pt-1 ">
                               <label>Negative Marks </label>
                              <p class="value">0</p>
                           </div>
                           

                         
                               
                         </div>
                       </div>
                     </div>
                   </div>


             </div>
      </div>
     </div>
   </div>
 
   {% include 'admin_template/footer-1.html' %}