<?php $txt="Batch Management" ; $subP="paper-list"; include('../header-1.php')  ?>
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-1 mb-0">
              <div class="row">
                 <div class="col-lg-5  ">
                  <h3 >Exam Paper Details | Paper ID: <strong>PID001</strong>  </h3>
                 </div>
                 <div class="col-lg-7 ">
                     <a   class="btn btn-default   float-right btn-sm  " href="paper-list.php" ><i class="fa fa-arrow-left"></i> Back</a>
                 </div>
               </div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12 p-0 pt-2 ">
              
                <div class="card form paper_det">
                    <div class="card-content ">
                      <div class="card-body"  >
                         <div class="row ">
                           <div class="col-lg-12 mt-1  ">
                             <h4 class="title-1">Basic Details <a href="edit-paper.php"><i class="fa fa-edit   float-right"></i></a></h4>
                           </div>

                               <div class="col-lg-3 mt-1  form-group">
                                      <label>Unique Paper ID  </label>
                                       <p class="value">EP10M01</p>
                                   </div>
                                  <div class="col-lg-3 mt-1  form-group">
                                      <label>Unique Paper Name </label>
                                       <p class="value">Class 10th-Maths-paper-1</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Course</label>
                                       <p class="value">10</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Subject</label>
                                       <p class="value">Maths</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Year</label>
                                       <p class="value">2022</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Total Marks</label>
                                      <p class="value">100</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Passing Marks</label>
                                       <p class="value">40</p>
                                   </div>
                                  
                                    <div class="col-lg-12 mt-1   form-group">
                                      <label>Guidelines</label>
                                       <p class="value"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                       consequat.</p>
                                   </div>

                                   <div class="col-lg-12 mt-1  ">
                                   <h4 class="title-1">Paper Sections Details <a href="edit-paper-2.php"><i class="fa fa-edit   float-right"></i></a></h4>
                                 </div>
                                  <div class="col-lg-3 mt-1  form-group">
                                      <label>Total No. of Sections </label>
                                      <p class="value">3</p>
                                    </div>
                                    <div class="col-lg-2 mt-1  form-group">
                                      <label>Total Question  </label>
                                      <p class="value">33</p>
                                   </div>
                                   <div class="col-lg-2 mt-1  form-group">
                                      <label>Total Marks </label>
                                      <p class="value">100</p>
                                    </div>
                                    <div class="col-lg-3  mt-1   form-group">
                                           <label>Is time limit on this section </label>
                                           <p class="value">No</p>
                                      </div>

                                    <div class="col-lg-12 mt-1  form-group">
                                        <div class="sec_det">
                                            <div class="row">
                                                 <div class="col-lg-2    form-group">
                                                  <label>Section </label>
                                                </div>
                                                 <div class="col-lg-2   form-group">
                                                  <label>No. of Questions </label>
                                                </div>
                                                 <div class="col-lg-2  form-group">
                                                  <label>Mandatory   Questions </label>
                                                </div> 
                                                <div class="col-lg-3    form-group">
                                                  <label>Question  Type </label>
                                                </div>
                                                <div class="col-lg-3   form-group">
                                                  <label>Total Marks Per Section </label>
                                                </div> 
                                            </div>
                                              <div class="row">
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">A</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">15</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">10</p>
                                                </div> 
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">Objective</p>
                                                </div>
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">25</p>
                                                </div> 
                                            </div>
                                             <div class="row">
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">B</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">10</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">5</p>
                                                </div> 
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">Objective</p>
                                                </div>
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">25</p>
                                                </div>  
                                            </div>
                                            <div class="row">
                                                  <div class="col-lg-2    form-group">
                                                  <p class="value">C</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">8</p>
                                                </div>
                                                 <div class="col-lg-2    form-group">
                                                  <p class="value">5</p>
                                                </div> 
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">Objective</p>
                                                </div>
                                                <div class="col-lg-3    form-group">
                                                  <p class="value">50</p>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>

                                         <div class="col-lg-12 mt-1  ">
                                         <h4 class="title-1">Questions   Details <a href="edit-paper-3.php"><i class="fa fa-edit   float-right"></i></a></h4>
                                       </div>
                                        <div class="col-lg-12 mt-1 mb-0 form-group">
                                            <h5 class="font-weight-bold">Section A </h5>
                                          </div>
                                         <div class="col-lg-12 mt-0   pl-0  form-group  added-ques d-block">
                                               <div class="ques">
                                                  <h5><span>Q.1</span> The average of first 50 natural numbers is …………. .  </h5>
                                                </div>
                                                <div class="ques">
                                                  <h5><span>Q.2</span> The number of 3-digit numbers divisible by 6, is.. </h5>

                                                </div>
                                                <div class="ques">
                                                  <h5><span>Q.3</span> What is 1004 divided by 2?  </h5>
                                                 
                                                </div>
                                                  <div class="ques">
                                                  <h5><span>Q.4</span> 106 × 106 – 94 × 94 = ?  </h5>
                                                 
                                                </div>
                                                  <div class="ques">
                                                  <h5><span>Q.5</span>The simplest form of 1.5 : 2.5 is... </h5>
                                               
                                              </div>
                                          </div>

                                           <div class="col-lg-12 mt-1 mb-0 form-group">
                                            <h5 class="font-weight-bold">Section B </h5>
                                          </div>
                                         <div class="col-lg-12 mt-0   pl-0  form-group  added-ques d-block">
                                                 <div class="ques">
                                                  <h5><span>Q.1</span> The average of first 50 natural numbers is …………. .  </h5>
                                                </div>
                                                <div class="ques">
                                                  <h5><span>Q.2</span> The number of 3-digit numbers divisible by 6, is.. </h5>

                                                </div>
                                                <div class="ques">
                                                  <h5><span>Q.3</span> What is 1004 divided by 2?  </h5>
                                                 
                                                </div>
                                                  <div class="ques">
                                                  <h5><span>Q.4</span> 106 × 106 – 94 × 94 = ?  </h5>
                                                 
                                                </div>
                                                  <div class="ques">
                                                  <h5><span>Q.5</span>The simplest form of 1.5 : 2.5 is...  </h5>
                                               
                                              </div>
                                          </div>

                                          <div class="col-lg-12 mt-3  ">
                                            <h4 class="title-1">Paper Set Options <a href="edit-paper-4.php"><i class="fa fa-edit   float-right"></i></a></h4>
                                         </div>
                                          <div class="col-lg-3 mt-1  form-group">
                                            <label>Is automated Set Creation Allowed? </label>
                                            <p class="value">Yes</p>
                                          </div>
                                          <div class="col-lg-9 mt-1  form-group">
                                              <div class="row">
                                                   <div class="col-lg-3  form-group">
                                                     <label>Maximum Possible Sets</label>
                                                       <p class="value">5</p>
                                                   </div>
                                                    <div class="col-lg-4 form-group">
                                                     <label>Languages</label>
                                                       <p class="value">Hindi, English</p>
                                                   </div>
                                                    
                                              </div>
                                          </div>
                                          

                                  </div>

                         </div>
                       </div>
                     </div>
             </div>
                 
            </div>
            
          
      </div>
     </div>
   </div>

   
<?php include('../footer-1.php')  ?>