{% include 'admin_template/header-1.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <div class="app-content content position-relative  ">
         
      <div class="content-wrapper">
        <div class="content-body ">
           <div class="top-options  ">
            <div class="row">
              <div class="col-md-3   "><h3 >Add Student </h3></div>
                 <div class="col-md-9 text-right ">
                   {% comment %} <a href="{% url 'upload_student_list' %}" class="btn  btn-secondary  btn-sm"><i class="fa fa-upload"></i> Upload   Student List</a>  {% endcomment %}
                    <a href="{% url 'student_list' %}" class="btn  btn-default  btn-sm"><i class="fa fa-arrow-left"></i>   Back to List</a>
                 </div>
           </div>
           </div>
           
           <div class="col-lg-12 col-md-12 col-sm-12 p-0  ">
              
                <div class="card form">
                  <div class="card-content ">
                      <div class="card-body"  >
                         <div class="row">
                               <div class="col-lg-12 mt-1  ">
                                 <h4 class="title-1">Personal Detail</h4>
                               </div>
                                <div class="col-lg-3 mt-1  form-group">
                                      <label>Registration No. <span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-registration-error" class="text-danger d-none"><small><strong> Student registration no. is required</strong></small></span>
                                      <input type="text" class="form-control" placeholder="Enter registration no." value="" id='student_registration_no' onkeyup="checkFields(this)" fieldType='student_registration_no'  onkeypress="return /[a-zA-Z0-9-]/i.test(event.key)" />
                                   </div>
                                  <div class="col-lg-3 mt-1  form-group">
                                      <label>First Name <span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-first-name-error" class="text-danger d-none"><small><strong> student first name is required</strong></small></span>
                                      <input type="text" class="form-control" placeholder="Enter first name" value="" id='student_first_name'  onkeypress="return /[a-zA-Z.' ]/i.test(event.key)" />
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Last Name</label>
                                      <input type="text" class="form-control" placeholder="Enter last name" value="" id='student_last_name'  onkeypress="return /[a-zA-Z ]/i.test(event.key)" />
                                   </div>
                                   <div class="col-lg-3 mt-1 form-group">
                                     <label>Gender</label>
                                     <select class="form-control" id='student_gender'>
                                       <option class="d-none" value=''>Select</option>
                                       <option value='1'>Male</option> 
                                       <option value='2'>Female</option>
                                       <option value='3'>Other</option>
                                      </select>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                       <label>Date of Birth<span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-dob-error" class="text-danger d-none"><small><strong> Student DOB is required</strong></small></span>
                                       <input type="text" data-select="datepicker" class=" form-control"  onkeypress="return /[]/i.test(event.key)" onkeydown="no_backspaces(event);" placeholder="dd-MM-yyyy" value=""  id='student_dob' />
                                    </div>
                                   <div class="col-lg-3   form-group">
                                      <label>Parent Name <span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-parent-name-error" class="text-danger d-none"><small><strong> student parent name is required</strong></small></span>
                                      <input type="text" class="form-control" placeholder="Enter parent name" value="" id='student_parent_name' onkeypress="return /[a-zA-Z, ]/i.test(event.key)"/>
                                   </div>
                                   <div class="col-lg-3   form-group">
                                     <label>Relation with parent</label>
                                     <select class="form-control" id='student_parent_relation'><option class="d-none" value="">Select</option>
                                      <option value="Father">Father</option> 
                                      <option value="Mother">Mother</option>
                                      <option value="Brother">Brother</option> 
                                      <option value="Sister">Sister</option>
                                     </select>
                                   </div>
                                   <div class="col-lg-3   form-group full-width">
                                     <label>Hobbies</label>
                                        <select  title="Select hobbies" id='student_hobbies' class="selectpicker d-block" multiple data-live-search="true"> 
                                            <option value='Drawing'>Drawing</option>
                                            <option value='Singing'>Singing</option>
                                            <option value='Dancing'>Dancing</option>
                                            <option value='Sketching'>Sketching</option>
                                          </select>
                                        </div>

                                   <div class="col-lg-12 mt-1  ">
                                     <h4 class="title-1">Contact Detail</h4>
                                   </div>
                                  <div class="col-lg-4 mt-1  form-group">
                                    <label>Email ID <span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-email-error" class="text-danger d-none"><small><strong> Email Already Exist!</strong></small></span>
                                    <input type="text" class="form-control" placeholder="Enter email id" value="" id='student_email' onkeyup="checkFields(this)" fieldType='student_email'/>
                                   </div>
                                   <div class="col-lg-4 mt-1   form-group">
                                    <label>Contact Number<span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-contact-error" class="text-danger d-none"><small><strong> Contact Already Exist!</strong></small></span>
                                    <input type="text" class="form-control" placeholder="Enter mobile number" value=""id="student_contact" onkeypress="return /[0-9]/i.test(event.key)" maxlength='10' onkeyup="checkFields(this)" fieldType='student_contact'/>
                                   </div>
                                    <div class="col-lg-4 mt-1   form-group">
                                      <label>Parent Contact<span class="text-danger"><small><strong> *</strong></small></span></label><span id="student_parent-contact-error" class="text-danger d-none"><small><strong> Contact Already Exist!</strong></small></span>
                                    <input type="text" class="form-control" placeholder="Enter mobile number" value=""id="student_parent_contact" onkeypress="return /[0-9]/i.test(event.key)" maxlength='10' onkeyup="checkFields(this)" fieldType='student_parent_contact'/>
                                   </div>
                                   
                                   <div class="col-lg-12 mt-0 mb-1   form-group">
                                      <label>Address</label>
                                      <textarea class="form-control" placeholder="Enter student address" id="student_address" ></textarea>
                                   </div>
                                   <div class="col-lg-4 form-group">
                                    <label>Pin Code<span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-pincode-error" class="text-danger d-none"><small><strong> Invalid Pincode!</strong></small></span>
                                    <input type="text" class="form-control" onkeypress="return /[0-9]/i.test(event.key)" maxlength="6" id="branchPinCode" placeholder="Enter pin code" value="" onkeyup="getPostalAddress(this)" />
                                   </div>
                                     <div class="col-lg-4   form-group">
                                     <label>City<span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-city-error" class="text-danger d-none"><small><strong> City is required</strong></small></span>
                                     <input type="text" class="form-control" onkeypress="return /[a-zA-Z ]/i.test(event.key)" placeholder="Enter city" id="studentCity" value="" />
                                   </div>
                                   <div class="col-lg-4   form-group mystate">
                                     <label>State</label>
                                     <select class="form-control"  id='student_state'>
                                      <option class="d-none">Select</option>
                                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                                      <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                      <option value="Assam">Assam</option>
                                      <option value="Bihar">Bihar</option>
                                      <option value="Chandigarh">Chandigarh</option>
                                      <option value="Chhattisgarh">Chhattisgarh</option>
                                      <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                      <option value="Daman and Diu">Daman and Diu</option>
                                      <option value="Delhi">Delhi</option>
                                      <option value="Lakshadweep">Lakshadweep</option>
                                      <option value="Puducherry">Puducherry</option>
                                      <option value="Goa">Goa</option>
                                      <option value="Gujarat">Gujarat</option>
                                      <option value="Haryana">Haryana</option>
                                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                                      <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                      <option value="Jharkhand">Jharkhand</option>
                                      <option value="Karnataka">Karnataka</option>
                                      <option value="Kerala">Kerala</option>
                                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                                      <option value="Maharashtra">Maharashtra</option>
                                      <option value="Manipur">Manipur</option>
                                      <option value="Meghalaya">Meghalaya</option>
                                      <option value="Mizoram">Mizoram</option>
                                      <option value="Nagaland">Nagaland</option>
                                      <option value="Odisha">Odisha</option>
                                      <option value="Punjab">Punjab</option>
                                      <option value="Rajasthan">Rajasthan</option>
                                      <option value="Sikkim">Sikkim</option>
                                      <option value="Tamil Nadu">Tamil Nadu</option>
                                      <option value="Telangana">Telangana</option>
                                      <option value="Tripura">Tripura</option>
                                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                                      <option value="Uttarakhand">Uttarakhand</option>
                                      <option value="West Bengal">West Bengal</option>
                                     </select>
                                   </div>
                                 

                                     <div class="col-lg-12 mt-1  ">
                                     <h4 class="title-1">Branch/Course Detail</h4>
                                     
                                   </div>
                                   {% if request.session.userType == 'super_admin_login' %}
                                   <div class="col-md-6  form-group ico mt-1">
                                     <label>Branch<span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-branchcode-error" class="text-danger d-none"><small><strong> Selected branch already attached to an existing student!</strong></small></span>
                                     <i class="fa fa-search"></i>
                                     <select class="select2 form-control select2-placeholder" onchange="getClass(this)"  id="default-select">
                                       <option value='' class='d-none'>Select Branch</option>
                                       {% for i in branchObj %}
                                       <option value="{{i.id}}">{{i.branch_name}}</option>
                                       {% endfor %}
                                       
                                      </select>
                                    </div>
                                    <div class="col-lg-3 mt-1 form-group">
                                      <label>Class<span class="text-danger"><small><strong> *</strong></small></span></label>
                                      <span id="student-class-error" class="text-danger d-none"><small><strong>  Student's class required</strong></small></span>
                                      <select class="form-control" id='student_class' onchange="get_subject_and_sections(this)">
                                       <option class="d-none" value="">Select</option>
                                      </select>
                                    </div>
                                    {% else %}
                                     <div class="col-lg-6  form-group ico mt-1">
                                      <label>Branch<span class="text-danger"><small><strong> *</strong></small></span></label><span id="student-branchcode-error" class="text-danger d-none"><small><strong> Selected branch already attached to an existing student!</strong></small></span>
                                        <input type="text" class="form-control" placeholder="Student Branch" value="{{branchObj.branch_name}}" id='default-select' readonly/>
                                     </div>

                                     <div class="col-lg-3 mt-1 form-group">
                                      <label>Class<span class="text-danger"><small><strong> *</strong></small></span></label>
                                      <span id="student-class-error" class="text-danger d-none"><small><strong>  Student's class required</strong></small></span>
                                      <select class="form-control" id='student_class' onchange="get_subject_and_sections(this)">
                                        <option class="d-none" value="">Select</option>
                                        {% for i in classObj %}
                                        <option value="{{i.id}}">{{i.class_name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                    {% endif %}
                                   

                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Section<span class="text-danger"><small><strong> *</strong></small></span></label>
                                      <span id="student-section-error" class="text-danger d-none"><small><strong>  Student's section required</strong></small></span>
                                      <select class="form-control" id='student_section'>
                                        <option class="d-none" value="">Select</option>
                                     </select>
                                   </div>

                                   <div class="col-lg-12 mt-1   form-group full-width">
                                     <label>Subjects<span class="text-danger"><small><strong> *</strong></small></span></label>
                                     <span id="student-subject-error" class="text-danger d-none"><small><strong>  Student's subjects required</strong></small></span>
                                     <select  title="Select Subjects" class="selectpicker d-block" style="width: 100%" multiple data-live-search="true" id='student_subject'> 
                                      <option class="d-none" value="">Select</option>
                                      </select>
                                    </div>

                                   <div class="col-lg-12 mt-1  ">
                                     <h4 class="title-1">Upload</h4>
                                   </div>

                                   <div class="col-lg-3 mt-1 form-group">
                                     <label>Upload Student Photograph<span class="text-danger"><small><strong> *</strong></small></span></label>
                                    </label><span id="student-photo-error" class="text-danger d-none"><small><strong>Student's image is required</strong></small></span>
                                      <br><label class="upl_photo">
                                          <input type="file" name="" id="stu_photo">
                                          <img src="{% static 'static/app-assets/images/avatar.jpg' %}" id="imgphoto">
                                          <span  class="btn btn-info btn-sm">Choose Photo</span>
                                      </label>
                                   </div>
  
                               </div>
                             
                      </div>
                  </div>
              </div>

                 <div class="text-right  pt-1">
                     <a  class="btn btn-primary pl-5 pr-5" href="javascript:;" onclick="add_new_student()" id='submit_btn'>Submit</a>
                 </div>
            </div>
      </div>
     </div>
   </div>

 
  {% include 'admin_template/footer-1.html' %}
  <script src="{% static 'static/app-assets/js/web_app_JS/admin_JS/managestudentJS/checkstudentFields.js' %}" type="text/javascript"></script>
  <script src="{% static 'static/app-assets/js/web_app_JS/admin_JS/managestudentJS/add-student.js' %}" type="text/javascript"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script type="text/javascript">
    $('select').selectpicker();
  </script>
  <script type="text/javascript">
    function no_backspaces(event)
    {
        backspace = 8;
        if (event.keyCode == backspace) event.preventDefault();
    }
  </script>
  <script>
    var i = 0;
    $("#student_first_name").on('keypress', function (e) {
        if ($(this).val().length < 1) {
            if (e.which == 32) {
                return false;
            }
        }
        else {
            if (e.which == 32) {
                if (i != 0) {
                    return false;
                }
                i++;
            }
            else {
                i = 0;
            }
        }
        var regex = /^[a-zA-Z' ]*$/;
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
  
        e.preventDefault();
        return false;
    });
  </script>
  <script>
    var i = 0;
    $("#student_last_name").on('keypress', function (e) {
        if ($(this).val().length < 1) {
            if (e.which == 32) {
                return false;
            }
        }
        else {
            if (e.which == 32) {
                if (i != 0) {
                    return false;
                }
                i++;
            }
            else {
                i = 0;
            }
        }
        var regex = /^[a-zA-Z' ]*$/;
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
  
        e.preventDefault();
        return false;
    });
  </script>
  <script>
    var i = 0;
    $("#student_parent_name").on('keypress', function (e) {
        if ($(this).val().length < 1) {
            if (e.which == 32) {
                return false;
            }
        }
        else {
            if (e.which == 32) {
                if (i != 0) {
                    return false;
                }
                i++;
            }
            else {
                i = 0;
            }
        }
        var regex = /^[a-zA-Z' ]*$/;
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
  
        e.preventDefault();
        return false;
    });
  </script>