{% include 'admin_template/header-1.html' %}
{% load static %}
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-1 mb-0">
            <div class="row">
                 <div class="col-md-3   "><h3 >  Profile Details</h3></div>
                    <div class="col-md-9 text-right pr-2  ">
                        
                        <a class="btn btn-default   float-right btn-sm  ml-1" href="profile.php" ><i class="fa fa-arrow-left"></i> Back to list</a>
                    </div>
               </div>
           </div>
             
             <div class="detail_block mt-2">
                 <div class="card form">
                  <div class="card-content ">
                      <div class="card-body"  >

                          <div class="row  ">
                             <div class="col-lg-12  pt-1 "><h4 class="title-1">Personal Details</h4></div>
                              <div class="col-lg-2  mt-1  ">
                                <img src="../app-assets/images/avatar.jpg">
                             </div>
                              <div class="col-md-8  offset-md-1">
                                <div class="row">
                               <div class="col-lg-3 pt-1 ">
                                  <label>Teacher Id</label>
                                  <p class="value">101</p>
                                 </div>
                                  <div class="col-lg-4  pt-1 ">
                                   <label>Name</label>
                                     <p class="value">Pankaj Kumar</p>
                                 </div>
                                 <div class="col-lg-4  pt-1 ">
                                   <label>DOB </label>
                                    <p class="value">June 01, 1980</p>
                                 </div>
                                 <div class="col-lg-3  pt-1 ">
                                   <label>Gender </label>
                                    <p class="value">Male  </p>
                                 </div>
                                 <div class="col-lg-3  pt-1 ">
                                   <label>Father's Name </label>
                                    <p class="value">Satish Kumar  </p>
                                 </div>
                               </div>

                             </div>
                               

                            <div class="col-lg-12  pt-3 "><h4 class="title-1">Contact Details</h4></div>
                           <div class="col-lg-4 pt-1 ">
                              <label>Email ID</label>
                              <p class="value">cms_gomtinagar@gmail.com</p>
                             </div>
                              <div class="col-lg-4 pt-1 ">
                               <label>Contact No.</label>
                                 <p class="value">8574586655</p>
                             </div>
                               
                           <div class="col-lg-4 pt-1 ">
                               <label>Address</label>
                              <p class="value">523 a/ 1555, Gomti Nagar </p>
                           </div>
                            <div class="col-lg-4  pt-1 ">
                             <label>City</label>
                                 <p class="value">Lucknow</p>
                             </div>
                              <div class="col-lg-4  pt-1 ">
                               <label>State </label>
                              <p class="value">UP</p>
                           </div>
                           <div class="col-lg-4  pt-1 ">
                               <label>Pin code  </label>
                              <p class="value">226010</p>
                           </div>

                            <div class="col-lg-12  pt-3 "><h4 class="title-1">Branch/Class Teacher</h4></div>
                            <div class="col-lg-6 pt-1 ">
                              <label>Branch</label>
                              <p class="value ">CMS, Gomti Nagar</p>
                             </div>
                              <div class="col-lg-6 pt-1 ">
                              <label>Designation</label>
                              <p class="value">Principal</p>
                             </div>
                              
                           </div>
                             <div class="row">
                               <div class="col-lg-12  pt-3 "><h4 class="title-1">Classes/ Subjects</h4></div> 
                             </div>
                           <div class="row">
                             <div class="col-lg-3 pt-1 ">
                               <label>Class</label>
                             </div>
                              <div class="col-lg-3 pt-1 ">
                               <label>Section</label>
                             </div>
                              <div class="col-lg-6 pt-1 ">
                               <label>Subject</label>
                             </div>
                           </div>
                            <div class="row">
                             <div class="col-lg-3 pt-1 ">
                                 <p class="value">N/A</p>
                             </div>
                              <div class="col-lg-3 pt-1 ">
                                 <p class="value">N/A</p>
                             </div>
                              <div class="col-lg-3 pt-1 ">
                                 <p class="value">N/A</p>
                             </div>
                           </div>
                          
                            <div class="row">
                               
                            <div class="col-lg-12 pt-3"><h4 class="title-1">Login Credentials </h4></div>
                            <div class="col-lg-4 pt-1 ">
                              <label>Username</label>
                              <p class="value">cms_gomtinagar@gmail.com</p>
                             </div>
                             <div class="col-lg-4 pt-1 ">
                                 <label>Password</label>
                                 <p class="value">123456</p>
                             </div>

                              <div class="col-lg-12  pt-3 "><h4 class="title-1">Logs </h4></div>
                              <div class="col-lg-3 mt-1   form-group">
                                  <label>Added Date</label>
                                  <p class="value">9/04/2022, 10:00 AM</p>
                               </div>
                               <div class="col-lg-3 mt-1   form-group">
                                  <label>Last Updated on</label>
                                  <p class="value">9/04/2022 10:00 AM</p>
                               </div>
                                <div class="col-lg-3 mt-1   form-group">
                                  <label>Added By</label>
                                  <p class="value">Ram Singh (EMP101)</p>
                               </div>
                                <div class="col-lg-3 mt-1   form-group">
                                  <label>Updated By</label>
                                  <p class="value">Ram Singh (EMP101)</p>
                               </div>
                               
                         </div>
                       </div>
                     </div>
                   </div>


             </div>
      </div>
     </div>
   </div>
 
   {% include 'admin_template/footer-1.html' %}