{% include 'admin_template/header-1.html' %}
{% load static %}
    <div class="app-content content position-relative  ">
      <div class="content-wrapper">
        <div class="content-body "> 
          <div class="top-options">
            <div class="row">
                <div class="col-lg-6  ico pl-2">
                   <h3 class="main-title">Add Timetable </h3>
                </div>
                <div class="col-md-6 text-right pr-2  ">
                    <a class="btn btn-default  float-right btn-sm"  href="{% url 'view_time_table' %}" ><i class="fa fa-arrow-left"></i> Back to list</a>
                </div>
             </div>
           </div>
           <div class="">
              <div class="card  pt-0 pl-0 pr-0 form">
                  <div class="card-content">
                        <div class="card-body pt-0   pl-0 pr-0"  >
                           <div class="tops_add_ques"  >
                             <div class="row">
                                 <div class="col-lg-12 mx-auto form-group no-ico  ">
                                  <div class='row'>
                                    <div class="col-lg-6 mb-1 form-group no-ico pl-2">
                                      <label><strong>Branch</strong><span class="text-danger"><small><strong> *</strong></small></span></label><span id="branch-error" class="text-danger d-none"><small><strong>&nbsp;&nbsp;&nbsp;Class is required</strong></small></span>
                                        <select class="select2 form-control select2-placeholder" id='branch-id' onchange="get_class(this)">
                                          <option value="" class="d-none">Select Branch</option>
                                          {% for i in branchObj %}
                                          <option value="{{i.id}}">{{i.branch_name|title}}</option>
                                          {% endfor %}
                                         </select>
                                    </div>
                                    <div class="col-lg-3">
                                      <label><strong>Session</strong><span class="text-danger"><small><strong> *</strong></small></span></label><span id="session-error" class="text-danger d-none"><small><strong>&nbsp;&nbsp;&nbsp;Session is required</strong></small></span>
                                      <select class="form-control select2-placeholder9" id='session-id'>
                                        <option> </option>
                                        <option value="2023-24">2023-24</option>
                                        <option value="2022-23">2022-23</option>
                                        <option value="2021-22">2021-22</option>
                                        <option value="2020-21">2020-21</option>
                                      </select>
                                    </div>
                                    <div class="col-lg-3 pl-0">
                                      <label><strong>Year</strong><span class="text-danger"><small><strong> *</strong></small></span></label><span id="year-error" class="text-danger d-none"><small><strong>&nbsp;&nbsp;&nbsp;Year is required</strong></small></span>
                                      <select class="form-control select2-placeholder9" id='year-id'>
                                        <option value='' class='d-none'>Select Year</option>
                                        {% for i in yearObj %}
                                          <option value="{{i.id}}">{{i.year_name|title}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                    <div class="col-lg-3  mb-1 form-group no-ico pl-2 ">
                                      <label><strong>Effective From</strong><span class="text-danger"><small><strong> *</strong></small></span></label><span id="effective-error" class="text-danger d-none"><small><strong>&nbsp;&nbsp;&nbsp;Effective month is required</strong></small></span>
                                      <select class="select2 form-control select2-placeholder251" id='effective-id'>
                                          <option value=""> </option>
                                          <option value="1">January</option>
                                          <option value="2">February</option>
                                          <option value="3">March</option>
                                          <option value="4">April</option>
                                          <option value="5">May</option>
                                          <option value="6">June</option>
                                          <option value="7">July</option>
                                          <option value="8">August</option>
                                          <option value="9">September</option>
                                          <option value="10">October</option>
                                          <option value="11">November</option>
                                          <option value="12">December</option>
                                      </select>
                                   </div>
                                   <div class="col-lg-3  mb-1 form-group no-ico  ">
                                    <label><strong>Class</strong><span class="text-danger"><small><strong> *</strong></small></span></label><span id="class-error" class="text-danger d-none"><small><strong>&nbsp;&nbsp;&nbsp;Class is required</strong></small></span>
                                     <select class="form-control select2-placeholder10" id='class-id' onchange="get_subject_and_sections(this)" >
                                       <option value=''> </option>
                                    </select>
                                 </div>
                                  <div class="col-lg-3  mb-1 form-group no-ico  ">
                                      <label><strong>Section</strong><span class="text-danger"><small><strong> *</strong></small></span></label><span id="section-error" class="text-danger d-none"><small><strong>&nbsp;&nbsp;&nbsp;Section is required</strong></small></span>
                                     <select class="  form-control select2-placeholder18"  id='section-id' onchange="show_slots(this)">
                                       <option value=''> </option>
                                    </select>
                                 </div>
                                 </div>
                                   </div>
                                          <table  class="table  t-table" id='tt-table' style="opacity: 0.3;pointer-events: none;" >
                                              <thead>
                                                <tr>
                                                  <th width="120"  > Time <i class="fa fa-arrow-down  "></i>  </th>
                                                  <th>Monday</th>
                                                  <th>Tuesday </th>
                                                  <th>Wednesday </th>
                                                  <th>Thursday</th>
                                                  <th>Friday</th>
                                                  <th>Saturday</th>
                                                </tr>
                                              </thead>
                                              <tbody id='time-table-slot-data'>
                                              </tbody>
                                            </table>
                                   </div>
                            </div>
                          </div>
                        </div>  
                    </div>
                </div>
            </div>
             <div class="text-right col-lg-12  pr-0">
                    <a  class="btn btn-primary  btn-md  " href="javascript:;" id='submit_btn' onclick="store_time_table_data()" >Add Timetable </a>
             </div>
           </div>
      </div>
     </div>
   </div>
  {% include 'admin_template/footer-1.html' %}
<script src="{% static 'static/app-assets/js/web_app_JS/admin_JS/time_table_JS/add-timetable.js' %}"></script>
<script src="{% static 'static/app-assets/js/web_app_JS/admin_JS/time_table_JS/get-timetable.js' %}"></script>
