{% include 'admin_template/header-1.html' %}
{% load static %}
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-2 mb-0">
            <div class="row">
                 <div class="col-lg-3  ico  pl-0">
                   <h3 class="main-title ml-1">Study Material List</h3>
                 </div>
                  <div class="col-md-9 text-right pr-2   ">
                      <a href="{% url 'add_study_material' %}" class="btn btn-sm btn-primary">+ Add Study Material  </a>
                  </div>
               </div>
           </div>
           <div class="col-md-12 mt-1">
              <div class="row">
                   
                    <div class="col-lg-2 mb-1 offset-md-2 pr-0 form-group no-ico  ">
                        <select class="form-control select2-placeholder10"  >
                          <option> </option>
                          <option value="1">Class 9</option>
                          <option value="2">Class 8 </option>
                          <option value="3">Class 7</option>
                       </select>
                    </div>
                      <div class="col-lg-2 pr-0 mb-1 form-group no-ico  ">
                        <select class="  form-control select2-placeholder18" >
                          <option> </option>
                          <option value="1">Section A</option>
                          <option value="2">Section B </option>
                          <option value="3">Section C</option>
                       </select>
                    </div>
                    <div class="col-lg-3 pr-0 mb-1 form-group no-ico  ">
                        <select class="  form-control select2-placeholder11" >
                          <option> </option>
                          <option value="1">Maths</option>
                          <option value="2">Science </option>
                          <option value="3">English</option>
                       </select>
                    </div>
                   
                     <div class="col-md-1 text-right ">
                        <a href="#" class="btn btn-purple btn-sm"><i class="fa fa-search"></i></a>
                    </div>

             </div>
           </div>

            <div class="row">
               <div class="table-responsive">
                  <table id="example"  class="display  table data-table">
                      <thead>
                        <tr>
                          <th width="50">S.No.</th>
                          <th>Topic</th>
                          <th>Class</th>
                          <th>Subject</th>
                          <th>Date/Time</th>
                          <th>Status</th>
                          <th>File Type</th>
                          
                          <th class="text-center">Action</th>
                        </tr>
                      </thead>
                       <tbody>
                         {% for i in study_materialObj %}
                          <tr> 
                            <td>{{forloop.counter}}</td>
                            <td>{{i.topic|title}}</td>
                            <td>{{i.class_fk.class_name|title}}</td>
                            <td>{{i.subject_fk.subject_name|title}}</td>
                            <td>{{i.created_at|date:"d-M-Y, H i A"}}</td>
                            <td class="tags">
                              {% if i.published_status == True %}
                                <span class="published">Published</span></td>
                              {% else %}
                                <span class="unpublished">Unpublished</span></td>
                              {% endif %}
                            <td>{{i.file_type_fk.file_type_name|title}}</td>
                            <td class="details-control">
                              {% if i.published_status == True %}
                                <a href="{% url 'study_material_status_change' i.id %}" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Unpublish" class="unpublish"><i class="fa fa-download"></i></a>
                                <a href="{% url 'view_study_material' i.id %}" class="view"><i class="fa fa-eye"></i></a>
                                <a style="pointer-events:none;" class="edit text-secondary"><i class="fa fa-edit"></i></a>
                                <a style="pointer-events:none;" class="del text-secondary"><i class="fa fa-trash"></i></a>
                              {% else %}
                                <a href="{% url 'study_material_status_change' i.id %}" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Publish" class="publish"><i class="fa fa-upload"></i></a>
                                <a href="{% url 'view_study_material' i.id %}" class="view"><i class="fa fa-eye"></i></a>
                                <a href="{% url 'edit_study_material' i.id %}" class="edit "><i class="fa fa-edit"></i></a>
                                <a href="{% url 'delete_study_material' i.id %}" class='del' onclick="return confirm('Confirm to delete this study_material! "><i class="fa fa-trash"></i></a>
                              {% endif %}
                            </td>
                          </tr>
                         {% endfor %}
                          {% comment %} <tr> 
                             <td>1</td>
                             <td>English Grammer  </td>
                             <td>10th</td>
                             <td>English</td>
                             <td>10/04/2022, 10:00 AM</td>
                             <td class="tags"><span class="published">Published</span></td>
                             <td>PDF</td>
                             <td class="details-control">
                              <a href="javascript:;" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Publish" class="publish"><i class="fa fa-upload"></i></a>
                              <a href="material-detail.php" class="view"><i class="fa fa-eye"></i></a><a href="edit-material.php" class="edit "><i class="fa fa-edit"></i></a><a href="javascript:;" class="del "><i class="fa fa-trash"></i></a></td>
                          </tr>
                           <tr> 
                             <td>2</td>
                             <td>Demo Material</td>
                             <td>11th</td>
                             <td>Hindi</td>
                             <td>10/04/2022, 10:00 AM</td>
                             <td class="tags"><span class="unpublished">Unpublished</span></td>
                             <td>Video</td>
                             <td class="details-control">
                              <a href="javascript:;" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Unpublish" class="unpublish"><i class="fa fa-download"></i></a>
                               <a href="material-detail.php" class="view"><i class="fa fa-eye"></i></a><a href="edit-material.php" class="edit "><i class="fa fa-edit"></i></a><a href="javascript:;" class="del "><i class="fa fa-trash"></i></a></td>
                          </tr>
                           
                            {% endcomment %}
                           
                       </tbody>
                    
                  </table>
                   
               
              </div>
            </div>
        </div>
     </div>
   </div>
 
    {% include 'admin_template/footer-1.html' %}
