<?php $txt="Assessment Management" ; $subP="assignment-assessment";  include('../header-1.php')  ?>
    <div class="app-content content position-relative  ">
      <div class="content-wrapper  ">
        <div class="content-body "><!-- Revenue, Hit Rate & Deals -->
           <div class="top-options pl-1 mb-0">
              <div class="row">
                 <div class="col-lg-5  ">
                  <h3 >Assessment Details    </h3>
                 </div>
                 <div class="col-lg-7 ">
                     <a   class="btn btn-default   float-right btn-sm  " href="assignment-assessment.php" ><i class="fa fa-arrow-left"></i> Back</a>
                 </div>
               </div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12 p-0 pt-2 ">
              
                <div class="card form paper_det">
                    <div class="card-content ">
                      <div class="card-body"  >
                         <div class="row ">
                           <div class="col-lg-12 mt-1  ">
                             <h4 class="title-1">Assignment Details  </h4>
                           </div>
                                 <div class="col-lg-3 mt-1  form-group">
                                      <label>Assignment Title  </label>
                                       <p class="value">Assignment A</p>
                                   </div>
                                  
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Class</label>
                                       <p class="value">10</p>
                                   </div>
                                    <div class="col-lg-3 mt-1   form-group">
                                      <label>Section</label>
                                       <p class="value">A</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Subject</label>
                                       <p class="value">Maths</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Total Marks</label>
                                       <p class="value">25</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Passing Marks</label>
                                      <p class="value">10</p>
                                   </div>
                                   <div class="col-lg-3 mt-1   form-group">
                                      <label>Stars At</label>
                                      <p class="value">10/04/2022 10:00 AM</p>
                                   </div>
                                    <div class="col-lg-3 mt-1   form-group">
                                      <label>Ends At</label>
                                      <p class="value">15/04/2022 10:00 AM</p>
                                   </div>
                                  
                                    <div class="col-lg-12 mt-1  ">
                                      <label>Guidelines</label>
                                       <p class="value"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                       consequat.</p>
                                   </div>
    
                            </div>

                         </div>
                       </div>
                     </div>

              <div class="table-responsive  ">
                <table id="example"  class="display table data-table">
                    <thead>
                        <tr>
                            <th>Student Enroll. No.</th>
                             <th>Student Name</th>
                             
                            <th>Status(Pass/Fail)</th>
                            <th>Marks Obtained</th>
                            <th class="text-center">Action</th>
                             
                        </tr>
                    </thead>
                    <tbody>
                        <tr  >
                            <td>  1245457855  </td>
                           
                            <td>Amit Singh</td>
                            <td class="tags"><span class="pass">Pass</span></td>
                            <td>18</td>
                             
                             <td class="details-control">
                                <a href="assess-assignment.php" class="view" ><i class="fa fa-eye"></i></a>
                                 
                            </td>

                        </tr>
                        
                        <tr>
                            <td>4345457855  </td>
                            <td>Komal Gupta</td>
                            <td class="tags"><span class="fail">Fail</span></td>
                            <td>8</td>
                             <td class="details-control">
                                <a href="assess-assginemnt.php" class="view" ><i class="fa fa-eye"></i></a>
                            </td>
                         </tr>
                         <tr>
                            <td> 7555457855  </td>
                            <td>Akash Kumar</td>
                            <td>N/A</td>
                            <td>N/A</td>
                             
                             <td class="details-control">
                                <a href="assess-assginemnt.php" class="view" ><i class="fa fa-eye"></i></a>
                                 
                            </td>
                        </tr>
                         
                         
                         

                    </tbody>
                </table>
             
                </div>
             </div>
                 
            </div>
            
          
      </div>
     </div>
   </div>

   
<?php include('../footer-1.php')  ?>